<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>UMAHetNet: A complete LTE-WiFi testbed as a service</title>

    <!-- Include Bootstrap and AngularJS --> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script src="controllers/monroe.js"></script>

    <!-- Monroe Style -->

    <style>
        #monroeSty {
            padding-top:    25px;
            padding-botton: 25px;
            padding-right:  50px;
            padding-left:   50px;
        }
    </style>
	
	
	
	<!--<title>Sistema de reservas</title>-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <script src="{% static 'functions.js' %}"> </script>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <!--<link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>-->
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/jquery.datetimepicker.min.css" />
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>

    <script type="text/javascript">
      var USER_ID_TO_USERNAME;
      var TERMINAL_IMEI_TO_MODEL;
      var TERMINAL_MODELS;
      var TERMINAL_IMEIS;
      var TERMINAL_RESERVATIONS;
      var NET_RESERVATIONS;
      var NUMBER_OF_TERMINAL_FORMS = 0;
      var USER = '{{user.id}}';
      var USER_NAME = '{{user.username}}';
      var ADMIN_USER = '{{user.is_staff}}';
      var CSRF = '{{csrf_token}}';
      
      $( document ).ready(function() {
      $.ajaxSetup({ beforeSend: function(xhr, settings) {
                                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                        xhr.setRequestHeader("X-CSRFToken", CSRF);

                                    }
                                 }
      });
      

      // process resources
      $.ajax({url:"http://127.0.0.1:8000/red/rest/users/"}).then(process_users);
      $.ajax({url:"http://127.0.0.1:8000/red/rest/terminals/"}).then(function(response){setTimeout(process_terminals(response),1000)});
      $.ajax({url:"http://127.0.0.1:8000/red/rest/network/"}).then(function(response){setTimeout(process_network(response),1000)});
      
      // load reservations
      $.ajax({url:"http://127.0.0.1:8000/red/rest/booknetwork/"}).then(function(response){setTimeout(process_network_reservations(response),2000)});
      $.ajax({url:"http://127.0.0.1:8000/red/rest/bookterminals/"}).then(function(response){setTimeout(process_terminal_reservations(response),2000)});

      // load calendar widgets 
      $(function () {$('#id_date_start').datetimepicker({format:'Y-m-d H:i'});});
      $(function () {$('#id_date_end').datetimepicker({format:'Y-m-d H:i'});});

      // bind buttons with callbacks
      $('#add_terminal_button').click(add_terminal_callback);
      $('#submit_button').click(submit_callback);

      }); 
    </script>
    
 
</head>



<body ng-controller="resourcesCtrl" id="monroeSty">

<!-- ****************************************************************** -->
    <!-- Navigation Tabs -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="pull-left" href="https://www.monroe-project.eu/">
                    <img src = "media/monroe_logo.png" height="50" hspace="10"></img>
                </a>
                <a class="pull-left" href="https://www.uma.es/">
                    <img src = "media/uma_logo.png" height="50" hspace="10"></img>
                </a>						
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html" data-toggle="tooltip" title="Network reservation system">Network reservation system</a></li>
					<li><a href="login.html" data-toggle="tooltip" title="Login">Login</a></li>
                    <!--<li><a href="NewExperiment.html" data-toggle="tooltip" title="Create a new experiment">New</a></li>
                    <li class="active"><a href="Resources.html"data-toggle="tooltip" title="Show information about Monroe resources">Resources</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="Help.html" data-toggle="tooltip" title="Platform help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li> <!--TODO: add link to pdf -->
               </ul>	
            </div>
        </div>
    </nav>



	
	
  <!--<h1>Network reservation system</h1>-->
  <!--<h3>This system is still beta.</h3>-->
  <!-- ****************************************************************** -->
    <!-- Resources listing -->

	
<div class="row">
   <div class="col-sm-7">
   
    <div class="panel panel-info">
		<div class="panel-heading">
		
		<div id='information-pane'>
      <h2>Network reservations</h2>
      <table id='network-reservations'>
	    <tr>
            <!--if para la columna que falta (boton de aceptar que solo se muestra a los admin)-->
            <th>From</th><th>To</th><th>By</th><th>State</th><th>Delete</th>
            {% if user.is_staff %}
                <th>Accept</th>
            {% endif %}
        </tr>
      </table>

	  	    </div>
  </div>
		</div> <!-- panel-heading-->
	
	

      <div class="panel panel-info">
		<div class="panel-heading">
		<h2>Terminal reservations</h2>
      <table id='terminals-reservations'>
            <tr>
                <th>IMEI</th><th>Model</th><th>From</th><th>To</th><th>By</th><th>State</th><th>Delete</th>
                {% if user.is_staff %}
                    <th>Accept</th>
                {% endif %}
            </tr>
      </table>

		</div> <!-- panel-heading-->
	</div>
	
	</div>

  
  
     <div class="col-sm-5">
    <div class="panel panel-info">
		<div class="panel-heading">
		
		 <div id='reservation-pane'>
      <div id='network-form'>
	  
	<h2>Book reservations</h2>
	
	<table>
	  <tr><td>From</td><td><input id="id_date_start" name="date_start"></td></tr>
	  <tr><td>To</td><td><input id="id_date_end" name="date_end"></td></tr>
	  <tr><td>Description <span style="display:inline-block; width: 0.2cm;">  </span></td><td><input id="id_description" name="description"></td></tr>
	  <tr><td>Network</td><td><select id="id_network" name="network"></select></td></tr>
	  <tr><td>.</td><td><div id="whiteline"></div></td></tr>
	  <tr><td>Status</td><td><div id="id_network_reserve_status"></div></td></tr>
	</table>
	
	
      </div>

	  <div class="col-xs-12" style="height:20px;"></div>
      <div id='terminal-reservation-area'></div>
      <a class="btn btn-success btn-xs" style="width:3cm" href='#' id='add_terminal_button'>Add terminal</a>
      <a class="btn btn-success btn-xs" style="width:3cm" href='#' id='submit_button'>Do reservation</a>
    </div>
  </div>

		</div> <!-- panel-heading-->
	</div>
  </div>
  
   
</body>
</html>
