<!DOCTYPE html>
<html lang="en">
<head>
   <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>UMAHetNet: A complete LTE-WiFi testbed as a service - Login </title>

    <!-- Include Bootstrap and AngularJS --> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script src="controllers/monroe.js"></script>

    <!-- Monroe Style -->

    <style>
        #monroeSty {
            padding-top:    25px;
            padding-botton: 25px;
            padding-right:  50px;
            padding-left:   50px;
        }
    </style>
	
    <!--<title>Login</title> -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>



<body ng-controller="resourcesCtrl" id="monroeSty">


<!-- ****************************************************************** -->
    <!-- Navigation Tabs -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="pull-left" href="https://www.monroe-project.eu/">
                    <img src = "media/monroe_logo.png" height="50" hspace="10"></img>
                </a>
                <a class="pull-left" href="https://www.uma.es/">
                    <img src = "media/uma_logo.png" height="50" hspace="10"></img>
                </a>						
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html" data-toggle="tooltip" title="Network reservation system">Network reservation system</a></li>
					<li><a href="login.html" data-toggle="tooltip" title="Login">Login</a></li>
                    <!--<li><a href="NewExperiment.html" data-toggle="tooltip" title="Create a new experiment">New</a></li>
                    <li class="active"><a href="Resources.html"data-toggle="tooltip" title="Show information about Monroe resources">Resources</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="Help.html" data-toggle="tooltip" title="Platform help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li> <!--TODO: add link to pdf -->
               </ul>	
            </div>
        </div>
    </nav>
	




<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form" action="/login/" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}">
      <input type="text" placeholder="username" name="username"/>
      <input type="password" placeholder="password" name="password"/>
        <input type="submit" class="button" value="login">
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
</body>
</html>