<html>
<head>
    <title>Reservations</title>
</head>
<body>
<table>
    <tr>
        <th>Usuario</th>
        <th>Elementos de red implicados</th>
        <th>Fecha/hora de inicio</th>
        <th>Fecha/hora de fin</th>
        <th>Descripción de la tarea</th>
        <th>Parámetros de configuración modificados</th>
    </tr>
    {% for r in reservations %}
    <tr>
        <td>{{ r.user }}</td>
        <td>{{ r.elements }}</td>
        <td>{{ r.date_start }}</td>
        <td>{{ r.date_end }}</td>
        <td>{{ r.task_description }}</td>
        <td>{{ r.configuration_parameters }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
