<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservas de Terminales</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reservas_style.css' %}" />
</head>
<body>
    <h1>Reservas Activas</h1>
    <div class="wrapper">
        <table>
            <tr>
                <th>Usuario</th>
                <th>Terminal</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Descripción</th>
            </tr>
            {% for reserva in reservas %}
            <tr>
                <td>{{reserva.user}}</td>
                <td>{{reserva.object_id}}</td>
                <td>{{reserva.date_start}}</td>
                <td>{{reserva.date_end}}</td>
                <td>{{reserva.description}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>