<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservar Terminal</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reservar_style.css' %}" />
</head>
<body>
    <div class="container">
        <form id="form-book" action="" method="POST">
            <h3>Reserva del terminal</h3>
            {% csrf_token %}

            {% if msg %}
            <p>{{msg}}</p>
            {% endif %}

            {{form_book}}
            <br>
            <fieldset>
                <button name="submit" type="submit">Reservar</button>
            </fieldset>
        </form>
    </div>
</body>
</html>