body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1{
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-size: 50px;
    padding-top: 20px;
}

.wrapper{
    margin: 0 auto;
    padding: 40px;
    /* max-width: 900px; */
}

table{
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

th, td{
    text-align: left;
    padding: 6px 12px;
}

th{
    font-weight: 900;
    color: #fff;
    background-color: #27ae60;
}

tr{
    background-color: #f6f6f6;
}

tr:nth-child(even){
    background-color: #e9e9e9;;
}
