body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 12px;
    line-height: 30px;
    font-weight: 400;
    color: #777;
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#form-book input, #form-book textarea, #form-book button{
    font-weight: 400;
}

#form-book input, #form-book textarea{
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
    box-sizing: border-box;
}

#form-book input:hover, #form-book textarea:hover{
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#form-book textarea{
    height: 100px;
    max-width: 100%;
    resize: none;
}

#form-book button{
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4caf50;
    color: #fff;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#form-book button:hover{
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#form-book button:active{
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#form-book input:focus,
#form-book textarea:focus{
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

#form-book{
    background: #f9f9f9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#form-book h3{
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#form-book h4{
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset{
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}
